@use '@/assets/styles/utils' as *;

.container {
  flex: 1;
  display: grid;
  @include gap(60px);
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header {
  @include gap(24px);
  text-align: center;
}
